.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    border-bottom: 1px solid #d4d2d2;
}

.header_logo{
    height: 50px;
    object-fit: contain;
}